body{
    /* background: -webkit-linear-gradient(left, #e67e3d, #d45303);  */
    background-image: url('../img/fondo_tienda.jpg');
    background-color: white;
    background-size: cover;
}

h2{
    font-family: 'Lato', sans-serif;
}

#cont-login{
    background-color: rgba(0, 0, 0, 0.623);
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    color: white;


    -webkit-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.75);
}

.btn-flat{
    background-color: rgb(19, 136, 232);
    border: none;
    padding: 10px 10px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

#mensaje_alert{
    visibility: hidden;
}

.navbar-light{
    background-color: #FAC400!important;
}

#logo{
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0px;
}

#a_logo{
    position: absolute;
    width: 100%;
}

.btn-flat{
    background-color: #E86713;
    border: none;
    padding: 10px 10px;
    color: white;
    margin-left: 5px;
    cursor: pointer;


}


